{% extends 'base.html' %}

{% block content %}
<h1>{% block title %}{{ user }}, please add delivery and payment information for your order {% endblock %}</h1>
<h3>You have selected the following product:</h3>
{% for cx in products %}
<div class='phone'>
    <h3>{{ cx[5] }} --- PRICE: ${{ cx[3] }} --- RELEASE DATE: {{ cx[4] }}</h3>
    <i>
        <p>DISPLAY RESOLUTION: {{ cx[2] }}</p>
    </i>
    <p class='review'>STORAGE: {{ cx[6] }}</p>
    <p>Order Quantity: 1</p>
    <h6 name="productid" id="pid">Product ID: {{cx[0]}}</h6>
</div><br />
{% endfor %}
<form method="post">
    <p>
        <label for="pi">Credit Card Number</label>
        <input type="text" name="cardNo"></input>
    </p>

    <p>
        <label for="pi">Name On Card</label>
        <input type="text" name="noc"></input>
    </p>

    <p>
        <label for="pi">Shipping Address</label>
        <input type="text" name="address"></input>
    </p>


    <button type="submit">Place Order</button>
    </p>
</form>
<a href="http://127.0.0.1:5000/browse/">Go Back</a>
{% endblock %}