{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a new account {% endblock %}</h1>
<form method="post">
    <p> <label for="fname">First Name</label> </p>
    <input type="text" name="fname" placeholder="John"> </input>
    <br>
    <br>
    <p> <label for="lname">Last Name</label> </p>
    <input type="text" name="lname" placeholder="Doe"> </input>
    <br>
    <br>
    <p> <label for="email">Email Address</label> </p>
    <input type="text" name="email" placeholder="john.doe@gmail.com"> </input>
    <br>
    <br>
    <p> <label for="phone">Phone Number</label> </p>
    <input type="text" name="phone" placeholder="xxx-xxx-xxxx"> </input>
    <br>
    <br>
    <p> <label for="password">Password</label> </p>
    <input type="text" name="password" placeholder="password1234" type="password"> </input>
    <br>
    <br>
    <button type="submit">Sign Up</button>
    </p>
</form>

<div class="flex">
    <p><a href="http://127.0.0.1:5000/signin/">Go Back</a></p>
    <p><a href="http://127.0.0.1:5000">Home</a></p>
</div>
{% endblock %}