{% extends 'base.html' %}

{% block content %}
<div class="flex">
    <p><a href="http://127.0.0.1:5000/">Home</a></p>
    <p><a href="http://127.0.0.1:5000/signin/">Sign In</a></p>
    <p><a href="http://127.0.0.1:5000/browse/">Broswe Phones</a></p>
    <p><a href="http://127.0.0.1:5000/deals/">Hot Deals</a></p>

</div>
<h1 style="text-align:center">{% block title %} Welcome {{ user }} {% endblock %}</h1>


<h1> Trending Products</h1><br />
{% for cx in products %}
<div class='phone'>
    <h2>{{ cx[5] }}</h2>
    <p>RELEASE DATE: {{ cx[4] }}</p>
    <br/>
    <h4>PRICE: ${{ cx[3] }}</h4>
    <i><h4>DISPLAY RESOLUTION: {{ cx[2] }}</h4></i>
    <h4 class='review'>STORAGE: {{ cx[6] }}</h4>
    <h6 name="productid" id="pid">Product ID: {{cx[0]}}</h6>
    </p>
    <a href="/buy/{{cx[0]}}">BUY NOW</a>
    </p>
</div><br />
{% endfor %}
{% endblock %}