
{% block content %}
<h1>{% block title %} Welcome to Phone Company  {% endblock %}</h1>
<a href="http://127.0.0.1:5000/signin/">SIGN IN</a>&nbsp;&nbsp;&nbsp;
<a href="http://127.0.0.1:5000/browse/">Broswe Phones</a>
<br /> <br />

<h1> Trending Products</h1><br /> <br />
{% for cx in products %}
    <div class='phone'>
        <h3>{{ cx[5] }} --- PRICE: ${{ cx[3] }} --- RELEASE DATE: {{ cx[4] }}</h3>
        <i><p>DISPLAY RESOLUTION: {{ cx[2] }}</p></i>
        <p class='review'>STORAGE{{ cx[6] }}</p>
    </div><br />
{% endfor %}
{% endblock %}